$actived-color: tomato;
$unselected-color: teal;
$selected-color: lightblue;

.line-component-container {
  .area-lvl-container {
    background-color: inherit;
    .area-lvl-name {
      text-align: center;
      cursor: pointer;
      border: 1px solid transparent;
    }
    .line-lvl-separator {
      height: 30px;
      max-width: 30px;
      margin: auto;
      background-color: $unselected-color;
    }

    &.active {
      .line-lvl-separator {
        background-color: $actived-color;
      }
      .area-lvl-name {
        border: 1px solid $selected-color;
      }
    }
    &.active~.area-lvl-container {
      .line-lvl-separator {
        background-color: $actived-color;
      }
      .area-lvl-name {
        border: 1px solid $actived-color;
      }
    }
  }
}