<div *ngIf="nextLevel; else noMoreLvls" id="" >
  <div *ngFor="let skill of nextLevel.skills" class="card">
    <div class="card-header collapsed" id="nextLvlSkill-{{ skill.id }}" data-toggle="collapse" attr.data-target="#collapse-NLS-{{ skill.id }}" attr.aria-expanded="false" attr.aria-controls="collapse-NLS-{{ skill.id }}">
      <h5 class="mb-0">
        <button class="btn btn-link">
          {{ skill.name }}
        </button>
      </h5>
    </div>
    <div id="collapse-NLS-{{ skill.id }}" class="collapse" attr.aria-labelledby="nextLvlSkill-{{ skill.id }}">
      <div class="card-body">
        {{ skill.description }}
      </div>
    </div>
  </div>
</div>

<ng-template #noMoreLvls>
  <div class="card">
    <div class="card-header collapsed">
      <h5 class="mb-0">
        <button class="btn">
          You are in the peak!
        </button>
      </h5>
    </div>
  </div>
</ng-template>