<app-title [titleInfo]=titleInfo></app-title>
<div class="row">
  <div class="col-md-4 col-xs-12" *ngIf="adquiredSkills">
    <app-adquired-skills [adquiredSkills]="adquiredSkills"></app-adquired-skills> 
  </div>
  
  
  <ng-template #loadingBlock>
      <div class="spinner-border text-info"></div><!-- #TODO: Mudar esto a alguna parte para que sea reutilizable -->
  </ng-template>


  <div class="col-md-4 col-xs-12">
    <div class="row">
      <!-- <div class="col-6">
        <app-player></app-player>
      </div> -->
      <div class="col-8 offset-2">
        <app-level-line [levels]="levelLineInfo"></app-level-line>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-xs-12" *ngIf="nextLevelSkills; else loadingBlock">
    <app-next-lvl [nextLevelSkills]="nextLevelSkills"></app-next-lvl>
  </div>
</div>
<!-- 
<div class="row">
  <div class="col-12">
    <app-level-line></app-level-line>
  </div>
</div>
-->